<app-admin></app-admin>

		
		
		<section id="content">
		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					
					<h1>Salle d'attente</h1>
					
					<ul class="breadcrumb">

						<li>
							<a href="#">Salle d'attente</a>
						</li>
						
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" routerLink='/Admin'>Home</a>
						</li>
					</ul>
				</div>
			</div>

    <div class="page-wrapper bg-red  p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="tete">
                       
                <button class="btn btn--radius btn--blue1" type="submit" routerLink="/Admin" *ngIf="ismenuOpened">Accueil</button>
                <button class="btn btn--radius btn--blue2" type="submit" routerLink="/finance" *ngIf="ismenuOpened">Finance</button>
        </div><br>
            <div class="card card-2 ">
                <div class="p-l-10">
              <div class="d1">
                
                <div class="row row-space">
                  <div class="col-2">
                       <div class="input-group">
                            <input class="input--style-2" type="text" placeholder="&#xF002; Cherecher par CIN..." name="cin"  [(ngModel)]="rechcin" (input)="rechercherCin()">
                              </div>
                  </div>
                    <div class="col-2">
                        <div class="input-group">
                               <input class="input--style-2" type="text" placeholder="&#xF002; Cherecher par Nom..." name="nom" [(ngModel)]="rechnom" (input)="rechercherNom()"> 
                                        </div></div>
              </div>
            </div>
<br>
            <div class="tbl" style="max-width: 915px;">

                <table>
                    <thead>
                      
                        <th class="table-header">CIN</th>
                        <th class="table-header">Nom</th>
                        <th class="table-header">Prenom</th>
                        <th class="table-header">Age</th>
                        <th class="table-header">Genre</th>
                        <th class="table-header">Adresse</th>
                        <th class="table-header">Tel</th>
                        <th class="table-header">Actions</th>
                    </thead>
                    <tbody> 
                        <tr *ngFor="let patient of patients">
                            <td>{{patient.cin}}</td>
                            <td>{{patient.nom}}</td>
                            <td>{{patient.prenom}}</td>
                            <td>{{patient.age}}</td>
                            <td>{{patient.sexe}}</td>
                            <td>{{patient.adresse}}</td>
                            <td>{{patient.tel}}</td>
                            <td >
                             
              <div class="btn btn--radius blue1 " style="background-color: red;"  (click)="patientValider(patient.cin)"><i style="font-weight: 900;" class='bx bx-trash' id="del"></i></div>
                    
        </td>
                        </tr>

                       
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
 





<!--
ffff
<div class="card-body">
   sssss
    <form method="POST">

        <div class="row row-space">
            <div class="col-2">
                <div class="input-group">
                    <input class="input--style-2" type="text" placeholder="Cin" name="cin">
                       </div>
            </div>
            <div class="col-2">
                <div class="input-group">
                    <div class="rs-select2 js-select-simple select--no-search">
                        <input class="input--style-2" type="text" placeholder="Nom" name="nom"> 
                      
                </div></div></div>


                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group">
                            <input class="input--style-2" type="text" placeholder="Prenom" name="prenom">
                               </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <input class="input--style-2" type="text" placeholder="Adresse" name="adresse"> 
                              
                        </div></div></div>



                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <input class="input--style-2" type="text" placeholder="Tel" name="tel">
                                       </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <input class="input--style-2" type="email" placeholder="Email" name="email"> 
                                      
                                </div></div></div>


                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <input class="input--style-2" type="password" placeholder="Mot de passe" name="pwd">
                                               </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <input class="input--style-2" type="passzord" placeholder="Confirmer Mot de passe" name="confPwd"> 
                                              
                                        </div></div></div>
        

        

                                        <div class="row row-space">
                                            <div class="col-2">
                                                
                                                    <div class="p-t-30">
                                                        <button class="btn btn--radius btn--red" type="reset">annuler</button>
                                                    
                                                        </div>
                                            </div>
                                            <div class="col-2">
                                                
                                                    
                                                        <div class="p-t-30">
                                                            <button class="btn btn--radius btn--green" type="submit">Valider</button>
                                                      
                                               </div> </div></div>
    </form>
</div>-->