
<div class="full-page">
    <div class="navbar">
        <div>
            <a href="#" class="brand">
                <img style="width: 80px;height: 80px;" src="../../../assets/img/pngegg.png" alt="logo">
                <div style="margin-left:90px;padding-top: 10px;margin-top: -2.2cm; font-size: 44px;color: #3c91E6;">StaySafe</div>
                
            </a>  
              </div>
        <nav>
            <ul id='MenuItems'>
                <li><a  href='#'>Home</a></li>
                <li><a href='#'>About Us</a></li>
                <li><a href='#'>Services</a></li>
                <li><a href='#'>Contact</a></li>
                <li><a routerLink='/login'>Sign in</a></li>
            </ul>
        </nav>
    
</div>
