<app-admin></app-admin>

		
		
		<section id="content">
		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Utilisateurs</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Utilisateurs</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" routerLink='/Admin'>Home</a>
						</li>
					</ul>
				</div>
			</div>
     

			
	
	 <div class="wst">
	
		
	<table>
		<thead>
			<td class="table-header">id</td>
			<td class="table-header">nom</td>
			<td class="table-header">prenom</td>
			<td class="table-header">etat</td>
			<td class="table-header">email</td>
			<td class="table-header">options</td>
		</thead>
		<tbody> 
			<tr>
				<td>1</td>
				<td>Nassar</td>
				<td>AMIMI</td>
				<td>
					<div class="status">
						Active
					</div>
				</td>
				<td>nassar@mail.com</td>
				<td>
					<div class="options-btn-wrapper">
						<a class="option-btn update" href="/update">
							modifie
						</a>
						<a class="option-btn delete" href="/delete">
							supprimer
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Nassar</td>
				<td>AMIMI</td>
				<td>
					<div class="status">
						Active
					</div>
				</td>
				<td>nassar@mail.com</td>
				<td>
					<div class="options-btn-wrapper">
						<a class="option-btn update" href="/update">
							modifie
						</a>
						<a class="option-btn delete" href="/delete">
							supprimer
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Nassar</td>
				<td>AMIMI</td>
				<td>
					<div class="status">
						Active
					</div>
				</td>
				<td>nassar@mail.com</td>
				<td>
					<div class="options-btn-wrapper">
						<a class="option-btn update" href="/update">
							modifie
						</a>
						<a class="option-btn delete" href="/delete">
							supprimer
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Nassar</td>
				<td>AMIMI</td>
				<td>
					<div class="status">
						Active
					</div>
				</td>
				<td>nassar@mail.com</td>
				<td>
					<div class="options-btn-wrapper">
						<a class="option-btn update" href="/update">
							modifie
						</a>
						<a class="option-btn delete" href="/delete">
							supprimer
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Nassar</td>
				<td>AMIMI</td>
				<td>
					<div class="status">
						Active
					</div>
				</td>
				<td>nassar@mail.com</td>
				<td>
					<div class="options-btn-wrapper">
						<a class="option-btn update" href="/update">
							modifie
						</a>
						<a class="option-btn delete" href="/delete">
							supprimer
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Nassar</td>
				<td>AMIMI</td>
				<td>
					<div class="status">
						Active
					</div>
				</td>
				<td>nassar@mail.com</td>
				<td>
					<div class="options-btn-wrapper">
						<a class="option-btn update" href="/update">
							modifie
						</a>
						<a class="option-btn delete" href="/delete">
							supprimer
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Nassar</td>
				<td>AMIMI</td>
				<td>
					<div class="status">
						Active
					</div>
				</td>
				<td>nassar@mail.com</td>
				<td>
					<div class="options-btn-wrapper">
						<a class="option-btn update" href="/update">
							modifie
						</a>
						<a class="option-btn delete" href="/delete">
							supprimer
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Nassar</td>
				<td>AMIMI</td>
				<td>
					<div class="status">
						Active
					</div>
				</td>
				<td>nassar@mail.com</td>
				<td>
					<div class="options-btn-wrapper">
						<a class="option-btn update" href="/update">
							modifie
						</a>
						<a class="option-btn delete" href="/delete">
							supprimer
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Nassar</td>
				<td>AMIMI</td>
				<td>
					<div class="status">
						Active
					</div>
				</td>
				<td>nassar@mail.com</td>
				<td>
					<div class="options-btn-wrapper">
						<a class="option-btn update" href="/update">
							modifie
						</a>
						<a class="option-btn delete" href="/delete">
							supprimer
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Nassar</td>
				<td>AMIMI</td>
				<td>
					<div class="status">
						Active
					</div>
				</td>
				<td>nassar@mail.com</td>
				<td>
					<div class="options-btn-wrapper">
						<a class="option-btn update" href="/update">
							modifie
						</a>
						<a class="option-btn delete" href="/delete">
							supprimer
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Nassar</td>
				<td>AMIMI</td>
				<td>
					<div class="status">
						Active
					</div>
				</td>
				<td>nassar@mail.com</td>
				<td>
					<div class="options-btn-wrapper">
						<a class="option-btn update" href="/update">
							modifie
						</a>
						<a class="option-btn delete" href="/delete">
							supprimer
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Nassar</td>
				<td>AMIMI</td>
				<td>
					<div class="status">
						Active
					</div>
				</td>
				<td>nassar@mail.com</td>
				<td>
					<div class="options-btn-wrapper">
						<a class="option-btn update" href="/update">
							modifie
						</a>
						<a class="option-btn delete" href="/delete">
							supprimer
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Nassar</td>
				<td>AMIMI</td>
				<td>
					<div class="status">
						Active
					</div>
				</td>
				<td>nassar@mail.com</td>
				<td>
					<div class="options-btn-wrapper">
						<a class="option-btn update" href="/update">
							modifie
						</a>
						<a class="option-btn delete" href="/delete">
							supprimer
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Nassar</td>
				<td>AMIMI</td>
				<td>
					<div class="status">
						Active
					</div>
				</td>
				<td>nassar@mail.com</td>
				<td>
					<div class="options-btn-wrapper">
						<a class="option-btn update" href="/update">
							modifie
						</a>
						<a class="option-btn delete" href="/delete">
							supprimer
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Nassar</td>
				<td>AMIMI</td>
				<td>
					<div class="status">
						Active
					</div>
				</td>
				<td>nassar@mail.com</td>
				<td>
					<div class="options-btn-wrapper">
						<a class="option-btn update" href="/update">
							modifie
						</a>
						<a class="option-btn delete" href="/delete">
							supprimer
						</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
			
			
		</div>